/ ask question form with textarea and button
.section
  .columns
    .column
      .card
        .card-content
          %h1 Genera una Poesia
          %form{ action: "/poems", method: "post" }
            %input.button.is-info.is-large{ type: "submit", value: "Genera" }

/ response - question
- if poem
  .section
    .columns
      .column.is-one-fifth
      .column
        .card
          .card-content
            %h1 Poesia
            %p.answer
              :plain
                #{poem}
            .s30
            -# %p Model Output: #{model_output}
      .column.is-one-fifth
