%html
  %title AI Poeta - AI Poet (ITA) - GPT3-based poet
  %link{ rel: "stylesheet", href: "/css/vendor/bulma.css" }
  %link{ rel: "stylesheet", href: "/css/style.css" }
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  / mobile meta tags
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  %meta{:content => "http://aioverflow.org/images/og_aioverflow.png", :property => "og:image"}/
  %body
    / bulma hero
    .hero.is-info
      .hero-body
        %h1.title Poeta AI
        %h2.subtitle
          Poeta basato sull'AI GPT3 - OpenAPI Davinci
      -# .hero-foot
      -#   %a.button{ href: "/" } Ask a Question
      -#   %a.button{ href: "/#soon" } Train the AI
      -#   -# %a.button{ href: "/login" } Login
      -#   -# %a.button{ href: "/register" } Register

    .content
      = yield

      .s100
